.btn {
  display: block;
  border-radius: 30px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  color: #502198;
  border: 2px solid #502198;
  width: 280px;
  padding: 16px;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
}

.btn--size--xl {
  padding: 30px;
  width: 420px;
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  background-color: #502198;
  color: #ffffff;
}
